<div data-role="page" data-add-back-btn="false">

<div data-role="header" data-position="inline">
	<h1><%= @kegs.name %></h1>
	<a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">Back</a>
	<a href="<%= url_for :action => :edit, :id => @kegs.object %>" class="ui-btn-right" data-icon="star">Edit</a>
</div>

<div data-role="content">
		<ul data-role="listview">
     
		<li>
		<div class="itemLabel">Name</div>
		<div class="itemValue"><%= @kegs.name %></div>
		</li>
  
		<li>
		<div class="itemLabel">Ratings Count</div>
		<div class="itemValue"><%= @kegs.ratingsCount %></div>
		</li>
    	
		<li>
		<div class="itemLabel">Ratings Total</div>
		<div class="itemValue"><%= @kegs.ratingsTotal %></div>
		</li>
    	
		<li>
		<div class="itemLabel">Volume Adjusted</div>
		<div class="itemValue"><%= @kegs.volumeAdjusted %></div>
		</li>

		<li>
		<div class="itemLabel">Volume Poured</div>
		<div class="itemValue"><%= @kegs.volumePoured %></div>
		</li>
		
		<li>
		<div class="itemLabel">Volume Total</div>
		<div class="itemValue"><%= @kegs.volumeTotal %></div>
		</li>

		</ul>
</div>

</div>
