<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @sessions.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @sessions.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="sessions[name]" class="fieldLabel">Name</label>
            <input type="text" id="sessions[name]" name="sessions[name]" <%= placeholder("Name") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="sessions[start_timestamp]" class="fieldLabel">Start timestamp</label>
            <input type="text" id="sessions[start_timestamp]" name="sessions[start_timestamp]" <%= placeholder("Start timestamp") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="sessions[end_timestamp]" class="fieldLabel">End timestamp</label>
            <input type="text" id="sessions[end_timestamp]" name="sessions[end_timestamp]" <%= placeholder("End timestamp") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="sessions[slug]" class="fieldLabel">Slug</label>
            <input type="text" id="sessions[slug]" name="sessions[slug]" <%= placeholder("Slug") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="sessions[url]" class="fieldLabel">Url</label>
            <input type="text" id="sessions[url]" name="sessions[url]" <%= placeholder("Url") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
