<div data-role="page">
<div data-role="header" data-position="inline">
<h1>New <%= @kegs.title %></h1>
<a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">Cancel</a>
</div>

<div data-role="content">
<form method="POST" action="<%= url_for :action => :create %>">
<input type="hidden" name="id" value="<%= @kegs.object %>"/>

<div data-role="fieldcontain">
<label for="kegs[name]" class="fieldLabel">Name</label>
<input type="text" id="kegs[name]" name="kegs[name]" <%= placeholder("Name") %> />
</div>
	
<div data-role="fieldcontain">
<label for="kegs[ratingsCount]" class="fieldLabel">Ratings Count</label>
<input type="text" id="kegs[ratingsCount]" name="kegs[ratingsCount]" <%= placeholder("Ratings Count") %> />
</div>

<div data-role="fieldcontain">
<label for="kegs[ratingsTotal]" class="fieldLabel">Ratings Total</label>
<input type="text" id="kegs[ratingsTotal]" name="kegs[ratingsTotal]" <%= placeholder("Ratings Total") %> />
</div>

<div data-role="fieldcontain">
<label for="kegs[volumeAdjusted]" class="fieldLabel">Volume Adjusted</label>
<input type="text" id="kegs[volumeAdjusted]" name="kegs[volumeAdjusted]" <%= placeholder("Volume Adjusted") %> />
</div>

<div data-role="fieldcontain">
<label for="kegs[volumePoured]" class="fieldLabel">Volume Poured</label>
<input type="text" id="kegs[volumePoured]" name="kegs[volumePoured]" <%= placeholder("Volume Poured") %> />
</div>
	
<div data-role="fieldcontain">
<label for="kegs[volumeTotal]" class="fieldLabel">Volume Total</label>
<input type="text" id="kegs[volumeTotal]" name="kegs[volumeTotal]" <%= placeholder("Volume Total") %> />
</div>

<input type="submit" value="Create"/>

</form>

</div>
</div>
