<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @kegs.name %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @kegs.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Name</div>
            <div class="itemValue"><%= @kegs.name %></div>
          </li>
      
          <li>
            <div class="itemLabel">ImageUrl</div>
            <div class="itemValue"><%= @kegs.image_url %></div>
          </li>
      
          <li>
            <div class="itemLabel">KegVolumeSizeMl</div>
            <div class="itemValue"><%= @kegs.keg_volume_size_ml %></div>
          </li>
      
          <li>
            <div class="itemLabel">KegVolumeRemainingMl</div>
            <div class="itemValue"><%= @kegs.keg_volume_remaining_ml %></div>
          </li>
      
          <li>
            <div class="itemLabel">KegVolumeSpilledMl</div>
            <div class="itemValue"><%= @kegs.keg_volume_spilled_ml %></div>
          </li>
      
          <li>
            <div class="itemLabel">Status</div>
            <div class="itemValue"><%= @kegs.status %></div>
          </li>
      
          <li>
            <div class="itemLabel">Url</div>
            <div class="itemValue"><%= @kegs.url %></div>
          </li>
      
    </ul>
  </div>

</div>
