<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @drinks.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @drinks.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="drinks[pour_timestamp]" class="fieldLabel">Pour timestamp</label>
            <input type="text" id="drinks[pour_timestamp]" name="drinks[pour_timestamp]" <%= placeholder("Pour timestamp") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="drinks[duration_sec]" class="fieldLabel">Duration sec</label>
            <input type="text" id="drinks[duration_sec]" name="drinks[duration_sec]" <%= placeholder("Duration sec") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="drinks[volume_ml]" class="fieldLabel">Volume ml</label>
            <input type="text" id="drinks[volume_ml]" name="drinks[volume_ml]" <%= placeholder("Volume ml") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="drinks[url]" class="fieldLabel">Url</label>
            <input type="text" id="drinks[url]" name="drinks[url]" <%= placeholder("Url") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="drinks[ticks]" class="fieldLabel">Ticks</label>
            <input type="text" id="drinks[ticks]" name="drinks[ticks]" <%= placeholder("Ticks") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="drinks[session_id]" class="fieldLabel">Session</label>
            <input type="text" id="drinks[session_id]" name="drinks[session_id]" <%= placeholder("Session") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="drinks[status]" class="fieldLabel">Status</label>
            <input type="text" id="drinks[status]" name="drinks[status]" <%= placeholder("Status") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
