<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @drinks.pour_timestamp %></h1>
    <%= link_to "Edit", :action => :edit, :id => @drinks.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">PourTimestamp</td>
        <td class="itemValue"><%= @drinks.pour_timestamp%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">DurationSec</td>
        <td class="itemValue"><%= @drinks.duration_sec%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">VolumeMl</td>
        <td class="itemValue"><%= @drinks.volume_ml%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Url</td>
        <td class="itemValue"><%= @drinks.url%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Ticks</td>
        <td class="itemValue"><%= @drinks.ticks%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">SessionId</td>
        <td class="itemValue"><%= @drinks.session_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Status</td>
        <td class="itemValue"><%= @drinks.status%></td>
      </tr>
      
    </table>
  </div>

</div>
