<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @drink.duration %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @drink.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Duration</div>
            <div class="itemValue"><%= @drink.duration %></div>
          </li>
      
          <li>
            <div class="itemLabel">VolumeMl</div>
            <div class="itemValue"><%= @drink.volume_ml %></div>
          </li>
      
          <li>
            <div class="itemLabel">PourTime</div>
            <div class="itemValue"><%= @drink.pour_time %></div>
          </li>
      
          <li>
            <div class="itemLabel">Url</div>
            <div class="itemValue"><%= @drink.url %></div>
          </li>
      
    </ul>
  </div>

</div>
