<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @drink.duration %></h1>
    <%= link_to "Edit", :action => :edit, :id => @drink.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Duration</td>
        <td class="itemValue"><%= @drink.duration%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">VolumeMl</td>
        <td class="itemValue"><%= @drink.volume_ml%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">PourTime</td>
        <td class="itemValue"><%= @drink.pour_time%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Url</td>
        <td class="itemValue"><%= @drink.url%></td>
      </tr>
      
    </table>
  </div>

</div>
